footer div {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
<<<<<<< HEAD
    line-height: 60px;
=======
>>>>>>> 6323c3652b840065aa74fcbae4113017db0cd4a0
}
